* {
    box-sizing: border-box;
    font-family: arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.address,
.coord {
  z-index: 50;
  position: absolute;
  transform: translate(10px, 65px);
  padding: 2px 10px 0 10px;
  display: block;
  background-color: rgba(30, 0, 0, 0.62);
  color: rgb(231, 215, 252);
  min-height: 17px;
  font-size: 1.15em;
  border-radius: 3px;
}

.coord {
  transform: translate(10px, 105px);
}

ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

button {
    font-size: 0.56em;
  line-height: 2em;
  width: 10em;
}

.input-container input {
  min-width: 15em;
}

/* ******** Helpers ******** */
.flex {
  display: flex;
}

.show {
    display: block;
}

.hide {
    display: none;
}
/* ************************* */

#map {
    margin-bottom: 8px;
    max-height: 80% !important;
}

.weather-data {
    position: fixed;
    z-index: 100;
    width: 60%;
    transform: translate(30%,115%);
    transition: 0.4s;
    background-color: rgba(0,0,0,0.75);
    color: lightskyblue;
    border-radius: 10px;
    padding: 3% 8% 3% 8%;
    margin: 0 auto;
    font-size: 1.4em;
    cursor: pointer;
}

@media (max-width: 500px) {
  #map {
    max-height: 66vh;
  }

  h2 {
      margin: 8px;
      font-size: 0.7em;
  }

  .address , .coord {
      font-size: 0.75em;
  }

  ul {
      font-size: 0.7em;
  }
}
